* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

* h3 {
  text-align: left;
  margin: 50px 5px;
}

* h4 {
  text-align: center;
  margin-top: 50px;
  
}

body {
  font-family: 'Poppins', sans-serif;
  color: rgb(19, 18, 18);
  width: auto;

}


/* Beggining of Header section */

header {
  display: flex;
  width: 100%;
  height: 10vh;
  margin: auto;
  align-items: center;
  background-color: white;
  overflow: hidden;
  position: fixed;
  top: 0;
}



.logo-container,.nav-links {
  display: flex;
  margin-top: 15px;
}


.logo-container {
  flex: 1;
}

h4 {
  font-size: 25px;
  font-weight: 400;
  margin: 5px;
  flex: 1;
  align-items: center;
}

/* End of Header section */

/*Beggining of Nav section */

nav {
  flex: 2;
  
}


nav .nav-links {
  display: flex;
  overflow: hidden;
  position: fixed;
  top: 0;
  
}

.nav-links .nav-link {
  justify-content: space-between;
  list-style: none;
  /*color: #5f5f79;*/
  padding: 0px 10px;
  
  
}

.nav-link a {
  text-decoration: none;
  background-color: transparent;
  color: grey;
  
}

.nav-link a:hover {
  color: white;
  background-color: gray;
  border-radius: 40%;
  padding: 10px;
  text-decoration: underline;
}

/* End of Nav Section */

/* Beggining of about me section */



.about-me1 {
  align-items: center;
  margin-top: 100px;
  
}

.article1 {
  margin-top: 30px;
  display: flex;
  flex-flow: column no-wrap;
  width: auto;
  height: 500px;
  background-color: rgb(197, 201, 204);
}


.my-image img{
  border-radius: 50%;
  padding: 75px;
  
}

.my-description {
  width: 50%;
  height: 150px;
  margin-top: 50px;
  padding: 15px;
  font-size: 1.3em;
  
  line-height: 2em;
  align-self: left;
  flex-wrap: wrap;
  order: 2;
  text-align: center;
  
}



/* end of about me section */

/* Beggining of technical experience section */
.tech h4 {
  flex-direction: row;
  align-items: center;
  margin-top: 160px;
  margin-bottom: 25px;
}

.technical-experience {
  
  display: flex;
  flex-flow: column no-wrap;
  width: auto;
  height: 750px;
  font-size: 1.2em;
  background-color: rgb(197, 201, 204);
  line-height: 2em;
}




.technical-experience1 ul {
  width: 100%;
  height: 325px;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 10px;
  padding: 20px;
}

.technical-experience2 ul {
  width: 100%;
  height: 325px;
  flex-wrap: wrap;
  margin: 10px;
  padding: 20px;
}

/* End of Technical Experience section */


/* Beggining of Certifications section */

.cert {
  align-items: center;
  margin-top: 120px;
}

.certifications {
  display: flex;
  flex-flow: row no-wrap;
  width: 100%;
  height: 500px;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(197, 201, 204);
  justify-items: space-between;
  column-gap: 50px;
  margin-top: 30px;
}

.cert-image1 img {
  width: auto;
  justify-content: flex-start;
  align-content: flex-start;
}

.cert-image2 img {
  width: auto;
  justify-content: center;
}

.cert-image3 img {
  width: auto;
  justify-content: flex-end;
}

/* end of certification section */

/* beggining of education section */

.edu h4 {
  flex-direction: row;
  align-items: center;
  margin-top: 120px;
  
}

.my-education {
  display: flex;
  flex-flow: row no-wrap;
  width: 100%;
  height: 350px;
  justify-content: center;
  align-items: left;
  margin-top: 70px;
  padding: 50px;
  background-color: rgb(197, 201, 204);
  font-size: 1.5em;
}



/* End of Education section */

/*Begging of work history */

.workhis h4 {
  flex-direction: row;
  margin-top: 150px;
}

.my-work-history {
  display: flex;
  flex-flow: row no-wrap;
  width: 100%;
  height: 3200px;
  margin-top: 25px;
  padding: 20px;
  justify-content: center;
  align-items: left;
  background-color: rgb(197, 201, 204);
  justify-content: space-around;
}

.work-history ul {
  margin-top: 50px;
  font-size: 1.2em;
}

.work-history h3 {
  border: 3px solid orange;
  text-align: center;
  
}

.work-history ul {
  text-align: center;
  list-style-type: none;
}

/*End of work history */

/*begging of contact me section */

.contact-me {
  flex-direction: row;
  align-items: center;
  margin-top: 170px;
}

.social-media {
  display: flex;
  flex-flow: row no-wrap;
  width: 100%;
  height: 600px;
  margin-top: 50px;
  padding: 20px;
  justify-content: space-between;
  align-items: left;
  
  background-color: rgb(197, 201, 204);
}

i.fas.fa-mobile-alt.fa-4x {
  padding: 10px;
}


.icon4 h5 {
  font-size: 1.1em;
  text-align: left;
  
}

.icon5 i.fas.fa-envelope-square.fa-4x {
  padding: 35px;
}



.icon5 h5 {
  font-size: 1em;
  text-align: left;
}



/*MEDIA QUERIES*/
@media screen and (max-width: 991px) {
  /* start of large tablet styles */
  
  }
  
  @media screen and (max-width: 767px) {
  /* start of medium tablet styles */
  
  }



  /* for index.html */
   
  @media screen and (max-width: 375px) {
  /* start of phone styles */

  header {
    background-color: rgb(197, 201, 204);
  
  }

  .logo-container h4 {
    font-size: 1em;
    text-align: left;
    margin: 5px 8px;
  }
  
  .logo-container {
    max-width: 100%;
    width: 375px;
    float: left;
  }

  nav {
  display: none;

  }

  .about-me {
    max-width: 100%;
    width: 375px;
    display: block;
    height: auto;
  
  }

  .my-image {
    max-width: 100%;
    width: 375px;
    display: block;
    height: auto;
    
  }

  .my-image img {
    padding: 18px;
  }

  .article1 {
    max-width: 100%;
    width: 375px;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .my-description {
    max-width: 350%;
    width: 300px;
   
    height: auto;
    flex-direction: row;
    margin: 50px auto 0 auto;
    padding: 15px;
  }

  .my-description p {
    font-size: .8em;
  }

  }


  /* for experience.html */
   
  @media screen and (max-width: 375px) {
    /* start of phone styles */

body, html {
  max-width: 100%;
}

header {
  max-width: 100%;
  width: 100%;
  background-color: rgb(197, 201, 204);
    
}

.logo-container {
  max-width: 100%;
  width: 375px;
  float: left;
}
  
.logo-container h4 {
  font-size: 1em;
  text-align: left;
  margin: 5px 8px;
}

.technical-experience {
  display: flex;
  flex-direction: column;
  max-width: 100%;
 
}

.tech {
  max-width: 100%;
  background-color: white;
  margin-top: -50px;
  
}

.tech h4 {
  width: 100%;
}

.technical-experience1 {
  max-width: 100%;
  width: 375px;
  font-size: .8em;
  line-height: 1.7em;
  height: 750px;
  margin: 0px 10px 0px 0px;
  background-color: rgb(197, 201, 204);
  border: 3px solid red;
}

.technical-experience1 ul {
  max-width: 100%;
  width: 375px;
  height: 800px;
  
}

.technical-experience2 {
  max-width: 100%;
  width: 375px;
  font-size: .8em;
  line-height: 1.7em;
  border: 3px solid green;
}

.technical-experience2 ul {
  margin-top: 20px;
  height: 800px;

}

ul > li {
  list-style-type: unset;

}



/* for certifications.html */
   
@media screen and (max-width: 375px) {
  /* start of phone styles */

  .certifications {
    max-width: 100%;
    width: 375px;
    flex-direction: column;
    height: 650px;
    justify-content: flex-start;
  }

  .cert-image1 {
    max-width: 100%;
    width: 250px;
    margin: 25px auto;
    padding: 50px;
  }

  .cert-image2 {
    max-width: 100%;
    width: 250px;
    margin: 20px auto;
    padding: 20px;
  }


  .cert-image3 {
    max-width: 100%;
    width: 250px;
    margin: 20px auto;
    padding: 20px;
  }

}

}

/* for education.html */

@media screen and (max-width: 375px) {
  /* start of phone styles */

header {
  max-width: 100%;
  width: 375px;
}

.edu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 80px auto;
  height: 80px;
  background-color: white;
  max-width: 100%;
  
}

.edu h4 {
  width: 375px;
  margin: 20px auto;
}

.my-education {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-top: -80px;
  height: 700px;
  font-size: 1.2em;
  justify-content: left;
}

.education {
  max-width: 100%;
  
}

ul > li {
  line-height: 2em;
  padding-bottom: 15px;
  list-style: none;
}

}