* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

* h3 {
  text-align: left;
  margin: 50px 5px;
}

* h4 {
  text-align: center;
  margin-top: 50px;
  
}

body {
  font-family: 'Poppins', sans-serif;
  color: rgb(19, 18, 18);
  width: auto;

}


/* Beggining of Header section */

header {
  display: flex;
  width: 100%;
  height: 10vh;
  margin: auto;
  align-items: center;
  background-color: white;
  overflow: hidden;
  position: fixed;
  top: 0;
}



.logo-container,.nav-links {
  display: flex;
  margin-top: 15px;
}


.logo-container {
  flex: 1;
}

h4 {
  font-size: 25px;
  font-weight: 400;
  margin: 5px;
  flex: 1;
  align-items: center;
}

/* End of Header section */

/*Beggining of Nav section */

nav {
  flex: 2;
  
}


nav .nav-links {
  display: flex;
  overflow: hidden;
  position: fixed;
  top: 0;
  
}

.nav-links .nav-link {
  justify-content: space-between;
  list-style: none;
  /*color: #5f5f79;*/
  padding: 0px 10px;
  
  
}

.nav-link a {
  text-decoration: none;
  background-color: transparent;
  color: grey;
  
}

.nav-link a:hover {
  color: white;
  background-color: gray;
  border-radius: 40%;
  padding: 10px;
  text-decoration: underline;
}

/* End of Nav Section */

/* Beggining of about me section */



.about-me1 {
  align-items: center;
  margin-top: 50px;
  
}

.article1 {
  margin-top: 150px;
  display: flex;
  flex-flow: column no-wrap;
  width: auto;
  height: 500px;
  background-color: rgb(197, 201, 204);
}


.my-image img{
  border-radius: 50%;
  padding: 75px;
  
}

.my-description {
  width: 70%;
  height: 150px;
  margin: 5px;
  padding: 5px;
  font-size: 1.3em;
  
  line-height: 2em;
  align-self: center;
  flex-wrap: wrap;
  order: 2;
  text-align: center;
  
}

/* end of about me section */

/* Beggining of technical experience section */

.technical-experience {
  justify-items: space-between;
  display: flex;
  flex-flow: column no-wrap;
  width: auto;
  height: 500px;
  padding: 50px;
  column-gap: 15px;
  justify-items: space-evenly;
  margin-top: 150px;
  font-size: 1.2em;
  background-color: rgb(197, 201, 204);
  line-height: 2em;
}

.tech h4 {
  flex-direction: row;
}


.technical-experience1 ul {
  width: 100%;
  height: 325px;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 10px;
  padding: 10px;
}

.technical-experience2 ul {
  width: 100%;
  height: 325px;
  flex-wrap: wrap;
  margin: 10px;
}

/* End of Technical Experience section */


/* Beggining of Certifications section */

.cert {
  margin: 25px 0px;
}

.certifications {
  display: flex;
  flex-flow: row no-wrap;
  width: 100%;
  height: 500px;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(197, 201, 204);
  justify-items: space-between;
  column-gap: 50px;
  margin-top: 150px;
}

.cert-image1 img {
  width: auto;
  justify-content: flex-start;
  align-content: flex-start;
}

.cert-image2 img {
  width: auto;
  justify-content: center;
}

.cert-image3 img {
  width: auto;
  justify-content: flex-end;
}

/* end of certification section */

/* beggining of education section */

.edu h4 {
  flex-direction: row;
  margin-top: 50px;
  
}

.my-education {
  display: flex;
  flex-flow: row no-wrap;
  width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: rgb(197, 201, 204);
  font-size: 1.5em;
}

/* End of Education section */

/*Begging of work history */

.workhis h4 {
  flex-direction: row;
  margin-top: 50px;
}

.my-work-history {
  display: flex;
  flex-flow: row no-wrap;
  width: 100%;
  height: 3200px;
  justify-content: center;
  align-items: center;
  background-color: rgb(197, 201, 204);
  justify-content: space-around;
}

.work-history ul {
  margin-top: 50px;
  font-size: 1.2em;
}

.work-history h3 {
  border: 3px solid orange;
  text-align: center;
  
}

.work-history ul {
  text-align: center;
  list-style-type: none;
}

/*End of work history */

.social-media {
  display: flex;
  flex-flow: row no-wrap;
  width: 100%;
  height: 600px;
  margin-top: 150px;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(197, 201, 204);
}

i.fas.fa-mobile-alt.fa-4x {
  padding: 35px;
}


.icon4 h5 {
  font-size: 1.1em;
  text-align: center;
  
}

.icon5 i.fas.fa-envelope-square.fa-4x {
  padding: 35px;
}



.icon5 h5 {
  font-size: 1em;
  text-align: left;
}
