* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
* h4 {
  text-align: center;
  margin-top: 50px;
  
}

body {
  font-family: 'Poppins', sans-serif;
  color: rgb(19, 18, 18);
  width: 1366px;

}

header {
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
}

.logo-container,.nav-links {
  display: flex;
  margin-top: 15px;
}


.logo-container {
  flex: 1;
}

h4 {
  font-size: 25px;
  font-weight: 400;
  margin: 5px;
  flex: 1;
  align-items: center;
}

nav {
  flex: 2;

}

nav .nav-links {
  display: flex;
  
}

.nav-links .nav-link {
  justify-content: space-between;
  list-style: none;
  color: grey;
  /*color: #5f5f79;*/
  padding: 0px 10px;
  
}

.nav-link a {
  text-decoration: none;
}



.about-me1 {
  align-items: center;
  margin-top: 50px;
  
}

.article1 {
  margin-top: 25px;
  display: flex;
  flex-flow: column no-wrap;
  width: auto;
  height: 500px;
  background-color: rgb(197, 201, 204);
}


.my-image img{
  border-radius: 50%;
  padding: 75px;
  
}

.my-description {
  width: 70%;
  height: 150px;
  margin: 5px;
  padding: 25px;
  font-size: 16px;
  letter-spacing: .1rem;
  align-self: center;
  flex-wrap: wrap;
  order: 2;
  
}


.technical-experience {
  justify-items: space-between;
  display: flex;
  flex-flow: column no-wrap;
  width: auto;
  height: 500px;
  padding: 50px;
  column-gap: 15px;
}

.tech h4 {
  flex-direction: row;
  border: 3px solid blue;
}


.technical-experience1 ul {
  width: 100%;
  height: 325px;
  border: 3px solid red;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 10px;
  padding: 10px;
}

.technical-experience2 ul {
  width: 100%;
  height: 325px;
  border: 3px solid green;
  flex-wrap: wrap;
  margin: 10px;
  
  
}
